<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" >

    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Food ordering</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/restaurants">Restaurants <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/edit">Edit user</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/show">Show user</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <li class="nav-item">
                <a class="btn btn-danger" href="/logout">Logout</a>
            </li>
        </form>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <form action="/addrestaurant/post" method="post" enctype="multipart/form-data">

            <div class="row form-group">
                <div class="col">
                    <label for="name">Restaurant Name</label>
                </div>
                <div class="col">
                    <input class="form-control" type="text" name="name" required placeholder="name"/>
                </div>
            </div>

            <div class="row form-group">
                <input type="file" name="fileToUpload" id="fileToUpload">
            </div>


            <button class="btn btn-primary" type="submit" name="submit"> Add Restaurant </button>
        </form>
        {% if session_errors %}
        <div class="alert alert-danger">{{session_errors}}</div>
        {% endif %}

        </br>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

<style>

    .jumbotron{
    width: 80%;
    margin: 0 auto;
}
    .container{
        width:100%;
        background-color:#feb600 ;
        max-width:100% !important;
    }
</style>