
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Update Profile</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/edit">Profile</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <button class="btn btn-danger" onclick="Back()">Return</button>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/show">Show user</a>
                </li>
        </ul>
        <form  action="/login" method="post" class="form-inline my-2 my-lg-0">
            <li id="hlist" style="float:left">
                <input type="image" src="https://image.flaticon.com/icons/png/512/25/25376.png" id="pizzaimg"/>
                <p id="title3">LOG OUT</p>
            </li>
        </form>
    </div>
</nav>
<br><br><br><br>
<div class="container">
    <table class="table table-hover" id="t1"> 
        <tr class="table">
            <th scope="row">Username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr class="table">
            <th scope="row">Firstname</th>
            <td>{{user.firstname}}</td>
        </tr>
        <tr class="table">
            <th scope="row">Lastname</th>
            <td>{{user.lastname}}</td>
        </tr>
        <tr class="table">
            <th scope="row">Email</th>
            <td>{{user.email}}</td>
        </tr>
        <tr class="table">
            <th scope="row">Phone</th>
            <td>{{user.phone}}</td>
        </tr>
    </table>
</div>

{% if session_errors %}
<div class="alert alert-danger">{{session_errors}}</div>
{% endif %}

</div>

</body>
<script>
    function Back()
    {window.history.back();
        window.history.back();
    }
    </script>
</html>

<style>
.container{
    color: black;
}
#t1{
    background-color: #ED5858;
}
#pizzaimg{
    padding: 1%;
    width: 60px;
    height: 60px;
}

body{
    background-image:url("https://d2gk7xgygi98cy.cloudfront.net/20-4-facebook.jpg"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color:white;
    
}
.navbar-brand{
    color:white;
}
.nav-link{
    color: white;
}

.navbar{
    background-color: #ED5858;
}
</style>